* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color: #f5f6f6;
    font-family: 'Roboto', sans-serif;
}

.co_container {
    width: auto;
    border: 2px solid #333;
    padding: 15px 10px;
}

.co_container h2 {
    text-align: center;
    margin-bottom: 15px
}

.textarea {
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}

input[type="submit"],
button {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"] {
    color: #fff;
    background-color: #009688
}

button {
    color: #333;
    background-color: transparent
}

.comment_btn {
    display: none
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.full-boxer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-box:hover {
    margin-top: 12px;
}

.comment-box {
    width: 500px;
    /* min-width: 500px; */
    background: white;
    padding: 10px;
    margin: 15px 0px 15px 0px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);
}

.Profile {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Name strong {
    color: black;
    font-size: 18px;
}

.Name span {
    color: gray;
    margin-top: 2px;
}

.comment p {
    color: black;
}

.c_error {
    margin-left: 20%;
    color: red;
    font-size: 13px;
}

@media(max-width:450px) {
    .c_error {
        margin-left: 5%;
    }
}

@media(max-width:375px) {
    .c_error {
        margin-left: 2%;
        font-size: 10px;
    }
}

@media(max-width:335px) {
    .c_error {
        margin-left: 1%;
        font-size: 9px;
    }
}

@media(max-width:316px) {
    .c_error {
        margin-left: 1%;
        font-size: 6px;
    }
}

.co_container {
    max-width: 500px;
    margin: 00px auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    border: 1px solid black;
}

.loader {
    z-index: +1111;
    top: 35%;
    left: 47%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}



.loader_div {
    z-index: +1;
    background-color: rgba(0, 0, 0, 0.34);
    top: 00%;
    left: 00%;
    width: 100vw;
    height: 100vh;
}

.text {
    position: absolute;
    top: 80px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading_hide {
    display: none;
}

.loading_animation_div {
    background-color: rgba(0, 0, 0, 0.34);
}

@media(max-width:600px) {
    .loader {
        left: 40%;
    }
}

.comment-box {
    width: 500px;
}