body {
  background-color: #009688;
}

nav {
  position: sticky;
  margin: 5px;
  border-radius: 5px;
}

.row {
  margin-left: 80px;
  margin-right: 20px;
}

a {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}
.btn{
  margin-left: 30px;
}



/* ======Start style sidebar==== */
.sidebar {
  height: 55%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: bisque;
  overflow-x: hidden;
  padding-top: 16px;
  margin-top: 180px;
  margin-left: 10px;
  border-radius: 5px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/* ======END style sidebar==== */

/* ======  Start Preview style  ==== */

#extra_textarea {
  resize: none;
  width: 100%;
  border: 1px solid black;
  padding: 10px 00px 10px 00px;
}

* {
  scroll-behavior: smooth;
}

.back_btn_div {
  display: none;
  position: absolute;
  padding: 10px 00px 00px 10px;
}

.back_a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.img-display {
  border: 2px solid #337ab7;
}

.back_btn {
  display: inline-block;
  -ms-transform: rotate(20deg);
  /* IE 9 */
  transform: rotate(180deg);
}

@media((max-width: 600px)) {
  .back_btn_div {
    padding: 00px;
    margin: 5px 0px 00px 5px;
    text-align: center;
    z-index: +1;
    display: block;
    width: 30px;
    height: 30px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0px 0px 1px rgb(20, 20, 20);
  }

  .img-display {
    border: none;
  }

}

.comment-box {
  width: 500px;
}

/* ======  End Preview style  ==== */

/*  */